@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
body
{
  font-family: 'Poppins';
  color: white;
  background: #7900FF;
}
h2{
  padding-bottom: 20px;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 30px;
  letter-spacing: 5px;
}